//COLORS
$color-black: #000;
$color-white: #fff;

$color-black-primary: #272727;
$color-blue-primary: #2398B4;
$color-blue-dark: #0A829F;
$color-pink-primary: #BC2B63;
$color-pink-dark: #9D1D4F;
$color-yellow-primary: #FFD00D;
$color-yellow-dark: #DBB103;

//GRID
$gutter-horizontal: 10%;